* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    font-family: "Open Sans", sans-serif;
}

header {
    background-color: #0b132b;
    height: 9.7vw;
}

/* ######## LOGO ######## */
.div-logo {
    display: inline-block;
}
#logo {
    background-color: #0b132b;
    width: auto;
    height: 9.9vw;
}
/* ######## FIN LOGO ######## */

/* ######## PORTADA ######## */
.div-portada{
    display: block;
    margin: 0;
    padding: 0;
    float: right;
}

#portada {
    display: inline-block;
    width: auto;
    height: 9.7vw;
}
/* ######## FIN PORTADA ######## */

/* ######## NAV ######## */
.interior {
    max-width: 100%;
    padding: 6px 10px 0px;
    margin: auto;
    background-color: #0b132b;
}

.navegacion {
    float: center;
    display: flex;
    align-items: center;
    min-height: 90px;
    z-index: 1000;
    background-color: #0b132b;
}

.navegacion ul {
    list-style: none;
    padding: 0 10px;
}

.navegacion ul li {
    display: inline-block;
    position: relative;
    transition: .3s linear;
    z-index: 1000;
}

.navegacion ul li:hover {
    transform: scale(1.1);
}

.navegacion ul li a {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
    transition: .3s linear;
}

.navegacion ul li a:hover {
    color: #00c9bd;
    transform: scale(1.1);
}

.navegacion ul li:hover .hijos {
    display: block;
}

.navegacion .submenu .hijos {
    display: none;
    background: #0b132b;
    position: absolute;
    width: 100%;
}

.navegacion .submenu .hijos li {
    display: block;
    overflow: hidden;
    border-bottom: none;
}

.navegacion .submenu .hijos li a {
    display: block;
}

/* ######## FIN NAV ######## */

/* ######## CARROUSEL ######## */
.slider-frame {
    width: auto;
    height: 650px;
    margin: 0px auto 0; /*top , izq-der , bottom*/
    overflow: hidden; /* ocultar lo que quede afuera */
}

.slider-frame ul {
    display: flex; /* Para que las img queden una al lado de otra */
    padding: 0;
    width: 400%; /* Porque quiero que cada imagen equivalga a 100% (4 imágenes) */

    animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
    width: 100%;
    list-style: none;
}

.slider-frame img {
    width: 100%;
}

@keyframes slide { /* Establece como se iran reproduciendo las imágenes */
    0% {margin-left: 0;}
    20% {margin-left: 0;} /*Establece el porcentaje de tiempo que se verá la 1er imagen*/

    25% {margin-left: -100%;}/*Dejo un margen de 5% para que la siguiente imagen no se reproduzca inmediatamente*/
    45% {margin-left: -100%;}

    50% {margin-left: -200%;} /*Cada imagen tiene un porcentaje de 100%, y se le indica en QUE porcentaje pasar a la siguiente imagen*/
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
/* ######## FIN CARROUSEL ######## */

/* ######## NOTICIAS ######## */

.post-list {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
}

.content {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-gap: 20px;
    max-width: 90%;
    margin: auto;
}

.post-img-1 {
    background: url(../Imagenes/noticia1.jpg);
    width: 100%;
    height: 200px;
    background-size: cover; /* Hace que se tome el elemento en sí*/
    background-position: center;
    transition: 0.2s;
}

.post-img-2 {
    background: url(../Imagenes/noticia2.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    /* Hace que se tome el elemento en sí*/
    background-position: center;
    transition: 0.2s;
}

.post-img-3 {
    background: url(../Imagenes/noticia3.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    /* Hace que se tome el elemento en sí*/
    background-position: center;
    transition: 0.2s;
}

.post-img-4 {
    background: url(../Imagenes/noticia4.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    /* Hace que se tome el elemento en sí*/
    background-position: center;
    transition: 0.2s;
}

.post {
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.1); /*Sombra detras del post*/
    overflow: hidden; /*Para que cuando se expanda la imagen, no sobresalga del contenedor*/
    transition: 0.2s;
}

.post:hover {
    transform: translateY(-4px);
    box-shadow: 0 1px 14px 2px rgba(0, 0, 0, 0.15);
}

.post-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
    cursor: pointer; /*Para que aparezca la mano al pasar por encima el puntero*/
}

.post:hover .post-img-1, .post:hover .post-img-2, .post:hover .post-img-3, .post:hover .post-img-4 {
    transform: scale(1.1);
}

.post-body {
    padding: 15px;
    text-align: center;
}

.post-body span {
    display: inline-block;
    color: #999;
    margin-bottom: 10px;
}

.post-body h2 {
    margin-bottom: 15px;
}

.post-body p {
    line-height: 1.5;
    margin-bottom: 20px;
}

.post-body .post-link {
    display: block;
    text-decoration: none; /*Para que no esté subrayado*/
    padding: 10px;
    background: #2b6ebb;
    color: #fff;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.post-body .post-link:hover {
    background: #3378c7;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}
/* Para que sea responsivo */
@media (max-width: 1024px) {
    .content{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 600px) {
    .content {
        grid-template-columns: 1fr;
    }
}
/* ######## FIN NOTICIAS ######## */

/* ######## FOOTER ######## */

footer {
    background-color: aquamarine;
    height: 50px;
}

/* ######## FIN FOOTER ######## */